@import "tailwindcss";

/* Scroll suave entre secciones */
html {
  scroll-behavior: smooth;
}

/* Reset base para evitar franjas entre bloques */
html,
body {
  margin: 0;
  padding: 0;
}

/* Estilos base del body */
body {
  background-color: #ffffff;
  color: #111827;
}

main {
  margin: 0;
  padding: 0;
}

/* Ajuste de anclas para navbar fijo */
section[id] {
  scroll-margin-top: 90px;
}
h1, h2, h3, h4 {
  letter-spacing: -0.5px;
}
