@import "tailwindcss";

/* Scroll suave entre secciones */
html {
  scroll-behavior: smooth;
}

/* Estilos base del body */
body {
  background-color: #ffffff;
  color: #111827;
}

/* Evita que el contenido quede debajo del navbar fijo */
main {
  padding-top: 80px;
}
h1, h2, h3, h4 {
  letter-spacing: -0.5px;
}